<div class="container-fluid vh-50 d-flex justify-content-center " id = "home_container">
  <div class="center-container p-4 rounded border">
    <h3 class="text-center mb-3">Images</h3>
    <%= link_to 'View images', annotated_images_path, class: "btn btn-primary"  ,data: { turbolinks: false} %>
    <%= link_to 'Upload image', new_annotated_image_path, class: "btn btn-primary",  data: { turbolinks: false} %>
  </div>
</div>

